<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuma.admin.mapper.GameRoundMapper">
    <select id="countByTimeRange" resultType="java.lang.Long">
        SELECT COUNT(*) FROM `game_round`
        WHERE `create_time` >= #{startTime}
          AND `create_time` &lt;= #{endTime}
    </select>
</mapper>
